@page
@model MyConverter.Pages.ConverterModel
@{
    ViewData["Title"] = "Converter";
}

@if (@Model.Response != null)
{
    @if (@Model.Response.Date != null)
    {
            <h1>Date: @Model.Response.Date</h1>
    }
    @if (@Model.Response.ValTypes != null)
    {
        <form method="post" asp-page-handler="OnPost">
                <h2>From currency AZN</h2>
                <div>
                    <input class="form-control" name="userInput"  placeholder="Enter sum">
                    <span class="text-danger" asp-validation-for="UserInput"></span>
                    <button type="submit"  class="btn btn-outline-info">Convert</button>
                </div>
                <h2>To currency</h2>
                <div>
                    @for (int i = 0; i < Model.Response.ValTypes.Count; i++)
                    {
                        @if (@Model.Response.ValTypes[i].Type == "Xarici valyutalar")
                        {
                            <select  asp-for="CurrencySelection" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                @for (int j = 0; j < Model.Response.ValTypes[i].Valutes.Count; j++)
                                {
                                    <option>@Model.Response.ValTypes[i].Valutes[j].Code</option>
                                }
                            </select>
                        }

                    }
                <input class="form-control" readonly name="result" value=@Model.Result />
                </div>
        </form>
    }
}
