@page
@model MyConverter.Pages.ConverterModel
@{
    ViewData["Title"] = "Converter";
}


@if (@Model.Response != null)
{
    @if (@Model.Response.Date != null)
    {
        <span>
            <h1 id="date">Date: @Model.Response.Date</h1>
        </span>
    }
    @if (@Model.Response.ValTypes != null)
    {
        <form class="myContainer" method="post" asp-page-handler="OnPost">
            <div class="formLeft">
                <h2>From currency AZN</h2>
                <div class="form-group">
                    <input class="form-control currencyValue" name="userInput" id="userInput" placeholder="Enter sum">
                    <span class="text-danger" asp-validation-for="UserInput"></span>
                    <button type="submit" id="convertButton" class="btn btn-dark">Convert</button>
                </div>
            </div>
            <div class="formRight">
                <h2>To currency</h2>
                <div class="form-group">
                    @for (int i = 0; i < Model.Response.ValTypes.Count; i++)
                    {
                        @if (@Model.Response.ValTypes[i].Type == "Xarici valyutalar")
                        {
                            <select id="currencySelectionRight" asp-for="CurrencySelectionRight" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                @for (int j = 0; j < Model.Response.ValTypes[i].Valutes.Count; j++)
                                {
                                    <option>@Model.Response.ValTypes[i].Valutes[j].Code</option>
                                }
                            </select>
                        }

                    }
                    <input readonly class="form-control currencyValue" name="result" id="result" value=@Model.Result />
                </div>
            </div>
        </form>
    }
}
